<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My List</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/style.css">
  <script src="/script.js"></script>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>

    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center pb-3">
            <%= listName %>
          </h4>

          <% if(!allItems) { %>
            <form action="/" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add a new item" aria-label="Add a new item"
                  aria-describedby="button-addon2" name="content" required>
                <input type="hidden" name="category" value="<%= listName %>">
                <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
              </div>
            </form>
            <% } %>

              <ul class="list-group">

                <% for (let i=0; i < items.length; i++) { %>
                  <li class="list-group-item" id="<%= items[i]._id %>">
                    <div class="d-flex">
                      <div class="flex-grow-1 d-flex">
                        <input onchange="handleStrikethrough('<%= items[i]._id %>', this.checked)"
                          class="form-check-input d-inline-block list-checkbox" type="checkbox" id="item<%= i %>"
                          <%=items[i].strikethrough && 'checked' %> >
                        <span class="ms-2 ps-1 list-checkbox-label flex-grow-1">
                          <label for="item<%= i %>">
                            <%= items[i].content %>
                          </label>
                          <% if(allItems) { %>
                            <br>
                            <small class="text-muted">Category: <%= items[i].category %></small>
                            <% } %>
                        </span>
                      </div>
                      <div class="flex-shrink-1 ps-2">
                        <i class="bi bi-trash cursor-pointer trash-can"
                          onclick="handleDelete('<%= items[i]._id %>')"></i>
                      </div>
                    </div>
                  </li>
                  <% } %>

              </ul>
        </div>
      </div>
    </div>
</body>

</html>